<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBk-ki8rzlcVMA0bNVxo5mtAcFroCiThr4</string>
	<key>GCM_SENDER_ID</key>
	<string>391186692458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authenticationApp</string>
	<key>PROJECT_ID</key>
	<string>fir-getx-app-dbff9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-getx-app-dbff9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391186692458:ios:49606d203840f4545e8d13</string>
</dict>
</plist>